/* 亮灰色右斜纹背景 */
.general-background-twill-light {
    background: linear-gradient(45deg, rgba(200, 200, 200, 0.1) 25%, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%, rgba(200, 200, 200, 0.1) 0, rgba(200, 200, 200, 0.1) 75%, rgba(0, 0, 0, 0) 0);
    background-size: 160px 160px;
}

/* 表单对话框的输入框统一样式 */
.dialog-field {
    margin-bottom: 34px;
}

.form-dialog {
    width: 1320px;
    margin: 0 auto;
}

/*覆盖element-默认样式*/

.form-dialog .el-dialog__body {
    padding-bottom: 0;
}